* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
}

.video {
  width: 100vw;
  height: 100vh;
  background: black;
  object-fit: contain;
}
.video:focus {
  outline: none;
}
.close {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background: red;
  text-align: center;
  align-items: center;
}
